.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

li > img {
    width: 24px;
    height: 24px;
}

.dashboard-container > h1 > img {
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
}

.content1 .top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

#search {
    width: 24px;
    height: 24px;
}

#notif {
    width: 24px;
    height: 24px;
}

#account {
    width: 50px;
    height: 50px;
}

.content1 .bottom {
    display: flex;
    justify-content: space-between;
}

.bottom-left {
    display: flex;
    gap: 8px;
}

.bottom-left > img {
    width: 100px;
    height: 100px;
}

.bottom-right {
    display: flex;
    gap: 8px;
}

.content2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;
    padding-left: 16px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.card-icons > img {
    width: 24px;
    height: 24px;
}

.other {
    display: flex;
    flex-direction: column;
}

.announcement {
    display: flex;
    flex-direction: column;

}

.announcement-content {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.trending {
    display: flex;
    flex-direction: column;
}

.trending-content {
    display: flex;
    gap: 8px;
    border: 1px solid black;
    padding: 16px;
}

.trending-content > img {
    width: 50px;
    height: 50px;
}