* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

li > img {
    width: 24px;
    height: 24px;
}

.dashboard-container {
    background-color: blue;
}

.dashboard-container > h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}

.dashboard-container > h1 > img {
    width: 50px;
    height: 50px;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 29px;
}

li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content1 {
    box-shadow: 0px 1px 5px grey;
}

.top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 8px 24px 8px 24px;
}

#search {
    width: 24px;
    height: 24px;
}

#notif {
    width: 24px;
    height: 24px;
}

#account {
    width: 50px;
    height: 50px;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 16px;
}

input {
    width: 70%;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.bottom-left {
    display: flex;
    gap: 8px;
    padding-left: 24px;
    align-items: center;
}

.bottom-left > img {
    width: 100px;
    height: 100px;
}

.bottom-right {
    display: flex;
    gap: 8px;
    padding-right: 24px;
    align-items: center;
    gap: 16px;
}

.content2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 16px;
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;

}

.card {
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

}

.card-icons > img {
    width: 24px;
    height: 24px;
}

.other {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.announcement {
    display: flex;
    flex-direction: column;

}

.announcement-content {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.trending {
    display: flex;
    flex-direction: column;
}

.trending-content {
    display: flex;
    gap: 8px;
    border: 1px solid black;
    padding: 16px;
}

.trending-content > img {
    width: 50px;
    height: 50px;
}